.env
.venv/
*.egg-info/
__pycache__/
*.pyc 
.DS_Store
*my_internal_notes*

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log

tmp/
scripts/scenarios/**/.scenario_state/
elastic-agent-*.tar.gz
elastic-agent-*/